:root.theme_dark {
  --color-text: rgba(255, 0, 112, 1);
  --color_text_title: rgba(219, 0, 255, 1);
  --bg_color_title: rgba(255, 0, 112, 1);
  --bg_color_text_title: rgba(0, 0, 40, 1);
  --main_question_color_text: rgba(255, 0, 112, 1);
  --main_bg_color: rgba(255, 0, 112, 1);
  --main_description_color_text: rgba(241, 178, 206, 1);
  --bg_color_main: rgba(0, 0, 40, 1);
  --bord_color_but: 1px solid rgba(255, 0, 112, 1);
  --add_element_color: rgba(255, 0, 112, 1);
  --button_hover_border: 1px solid rgba(255, 0, 112, 0.4);
}
.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url("../images/cover-image-dark.png");
  background-attachment: fixed;
}
