.theme_light {
  --color-text: rgba(53, 52, 48, 1);
  --head_button_text: 70px;
  --color_text_title: rgba(255, 194, 230, 1);
  --bg_color_title: rgba(255, 141, 203, 1);
  --bg_color_text_title: rgba(53, 52, 48, 1);
  --main_question_color_text: rgba(53, 52, 48, 1);
  --main_bg_color: rgba(255, 141, 203, 1);
  --main_description_color_text: rgba(53, 52, 48, 1);
  --bg_color_main: rgba(255, 241, 247, 1);
  --footer_color_text: rgba(255, 194, 230, 1);
}

/* Остальные стили */
.page.theme_light {
  display: grid;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/images/cover-image-light.png");
}
